@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Lexend&family=Source+Code+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.type-animation {
  animation: typing 2s steps(20, end), blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}

.leaf1-animation {
  animation: flow 13s linear forwards;
  animation-delay: 3s;
}

.leaf2-animation {
  transform: rotate(90deg);
  animation: flow 22s linear forwards;
  animation-delay: 1s;
  transform: translateX(-5vw) rotate(80deg);
}

@keyframes flow {
  0% {
    opacity: 1;
    transform: translateX(-5vw) rotate(80deg);
  }
  20% {
    transform: translateX(20vw) translateY(15vh) rotate(100deg);
  }
  40% {
    transform: translateX(40vw) translateY(25vh) rotate(90deg);
  }
  60% {
    transform: translateX(60vw) translateY(40vh) rotate(90deg);
  }
  80% {
    transform: translateX(80vw) translateY(60vh) rotate(100deg);
  }
  100% {
    transform: translateX(100vw) translateY(75vh) rotate(90deg);
  }
}
