@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Lexend&family=Source+Code+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.type-animation {
  animation: typing 2s steps(20, end), blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}

.leaf1-animation {
  animation: flow 20s linear infinite;
}

.leaf2-animation {
  transform: rotate(90deg);
  animation: flow 13s linear infinite;
}

@keyframes flow {
  0% {
    opacity: 1;
    transform: translateX(0vw) rotate(80deg);
  }
  20% {
    transform: translateX(20vw) translateY(15vh) rotate(100deg);
  }
  40% {
    transform: translateX(40vw) translateY(40vh) rotate(90deg);
  }
  60% {
    transform: translateX(60vw) translateY(55vh) rotate(80deg);
  }
  80% {
    transform: translateX(75vw) translateY(65vh) rotate(120deg);
  }
  100% {
    transform: translateX(100vw) translateY(80vh) rotate(90deg);
  }
}
