@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Lexend&family=Source+Code+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

.cursor-down {
  cursor: url("data:image/svg+xml, %3Csvg width='32' height='32' viewBox='8 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='0.5' fill='white' d='M8 12 L16 20 L24 12 Z' /%3E%3C/svg%3E"), pointer;
}

.type-animation {
  animation: typing 2s steps(20, end), blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}

.outside-view-x {
  opacity: 0.5;
  transform: translateX(-100%);
  transition: all 0s;
}

.inside-view-x {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s;
}

.outside-view-y {
  opacity: 0;
  transition: all 1s;
  transform: translateY(10%);
}

.inside-view-y {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0);
}

@media(prefers-reduced-motion: no-preference) {
  .outside-view-x, .outside-view-y {
    transition: all 1s;
  }
}

@media screen and (min-width: 1024px) {
  .card:nth-child(2) {
    transition-delay: 100ms;
  }

  .card:nth-child(3) {
    transition-delay: 200ms;
  }

  .card:nth-child(4) {
    transition-delay: 300ms;
  }
}